#ifndef ${class.name}_H
\#define ${class.name}_H
\#include "MultiLanguageIncludes.h"
\#include <vector>
\#include <string>

/** $class.comment */
class $class.name #if ($class.hascBaseType()) : public $class.cBaseType #end{
	public:
	MultiLanguageTypeEnum getType(){return MULTI_LANGUAGE_TYPE_ENUM_$class.name;}
#foreach($field in $class.fields)
	#if ($field.class.simpleName=="MultiLanguageDefine")
	public:
		static const $field.getcType() $field.name
		#ifdef MULTI_LANGUAGE_DEFINE_${class.name}_$field.name
			=MULTI_LANGUAGE_DEFINE_${class.name}_$field.name;
		\#else
			=$field.typeDescriptor.cDefault;
		#endif
	#else
	private: 
	
	$field.getcType() $field.name;
	#end
	
	public:
	
	## for lists, there is no setter, but the getter returns a reference to the vector
	#if ($field.class.simpleName == "MultiLanguageList")
		/** $field.comment */
		$field.getcType() &get${field.nameUpperCamel}(){
			return $field.name;
		}
	#else
		## create getter and setter for a normal field
		/** $field.comment */
		$field.getcType() get${field.nameUpperCamel}(){
			return $field.name;
		}
		#if ($field.class.simpleName!="MultiLanguageDefine")
			/** $field.comment */	
			void set${field.nameUpperCamel}($field.getcType() value){
				${field.name} = value;
			}
		#end
	#end 
#end
};
#endif