package ch.ethz.ruediste.roofline.sharedDOM;

import java.util.LinkedList;
import java.util.List;

/** $class.comment */
public class $class.name #if ($class.hasBaseType())	extends $class.baseType #end {
#foreach($field in $class.fields)
#if ($field.class.simpleName == "MultiLangugeField" || $field.class.simpleName == "MultiLanguageDefine")
	private $field.typeDescriptor.javaName $field.name;
	
	/** $field.comment */
	public $field.typeDescriptor.javaName get${field.nameUpperCamel}(){
		return $field.name;
	}
	
	/** $field.comment */	
	public void set${field.nameUpperCamel}(${field.typeDescriptor.javaName} value){
		${field.name} = value;
	}
	
#elseif ($field.class.simpleName == "MultiLanguageList")
	/** $field.comment */
	private LinkedList<$field.typeDescriptor.javaBoxedName> $field.name
		=new LinkedList<$field.typeDescriptor.javaBoxedName>();
	
	/** $field.comment */
	public List<$field.typeDescriptor.javaBoxedName> get${field.nameUpperCamel}(){
		return $field.name;
	}
	
#end 
#end
}